@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #50727b;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1,
h2 {
  margin-bottom: 2rem;
}

.container {
  width: 30%;
  background-color: #344955;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info {
  margin-top: 2rem;
  background-color: #78a083;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  background-color: #35374b;
}

button:hover {
  background-color: #1e1f2f;
}

#result {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }

  input,
  button {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .info {
    font-size: 1rem;
  }

  #result {
    font-size: 1.2rem;
  }
}
